@import "assets/variables";

$color-bg-card: $color-background;
$card-padding: 15px;
$margin-top: 15px;

.card {
  position: relative;
  margin: $margin-top 0;
  background: $color-background;
}

.card__img {
  margin: 0;

  img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
    box-sizing: border-box;
  }
}

.card__desc {
  padding: $card-padding;
}


.link {
  cursor: pointer;
}


$text: #666c74;
$footer: #4b4b4b;
$duration: 0.3s;

$heightimg: 200px;

$heighthoverimg: 145px;
$heightbody: 130px;

.card_4 {
  width: 100%;
  background: $color-background;
  box-shadow: 0 0 20px rgba($color-primary, 0.2);
  transition: box-shadow $duration;
  margin-bottom: 1rem;

  &:hover {
    box-shadow: 0 0 50px rgba($color-primary, 0.6);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.card_4__thumb {
  height: $heightimg;
  overflow: hidden;
  transition: height $duration;

  img {
    object-fit: cover;
    width: 100%;
    height: $heightimg;
    display: block;
    opacity: 1;
    transition: opacity $duration, transform $duration;
    transform: scale(1);
  }

  .card_4:hover & img {
    opacity: 0.8;
    transform: scale(1.2);
  }

  .card_4:hover & {
    height: $heightimg - $heighthoverimg;
  }
}

.card_4__body {
  position: relative;
  padding: 20px;
  height: $heightbody;
  transition: height $duration;

  .card_4:hover & {
    height: $heightbody + $heighthoverimg;
  }
}

.card_4__category {
  position: absolute;
  top: -25px;
  right: 0;
  height: 25px;
  padding: 0 15px;
  border-top-left-radius: 10px;
  background: $color-secondary;
  color: $color-text-secondary;
  font-size: 14px;
  line-height: 25px;

  a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.card_4__title {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 22px;
  color: $color-text;
  font-weight: bold;

  .card_4:hover & {
    animation: titleBlur $duration;
  }
}

.card_4__subtitle {
  margin: 0;
  padding: 0 0 10px 0;
  color: $color-primary;
  font-size: 19px;

  .card_4:hover & {
    animation: subtitleBlur $duration;
  }
}

.card_4__description {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 65px;
  overflow: auto;
  height: $heighthoverimg - 15;
  padding: 0 0 0 0;

  color: $color-text;
  font-size: 14px;
  line-height: 27px;

  opacity: 0;
  transition: opacity $duration - 0.1s, transform $duration - 0.1s;
  transition-delay: 0s;
  transform: translateY(25px);

  .card_4:hover & {
    opacity: 1;
    transition-delay: 0.1s;
    transform: translateY(0);
  }
}

.card_4__footer {
  margin: 0;
  position: absolute;
  color: $color-text;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-size: 11px;
}

@keyframes titleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba($color-text, 0.6);
  }

  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px rgba($color-text, 0);
  }
}

@keyframes subtitleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba($color-primary, 0.6);
  }

  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px rgba($color-primary, 0);
  }
}

@mixin transition($dur, $prop: all) {
  transition: $prop $dur ease;
  -webkit-transition: $prop $dur ease;
}
